// COLOR VARIABLES
$color-dark: #333;
$color-light-blue: #008ed6;

// UTILITY CLASSES
body {
    background: $color-dark;
    color: white;
}

// NAV BAR
.navbar {
    border-bottom: $color-light-blue 1.5px solid;
    opacity: 0.6;
}

// HOME SECTION
#home-section {
    background: url(../img/home.jpg) no-repeat center center/cover;
    background-attachment: fixed;
    min-height: 100vh;

    .dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .home-inner {
        padding-top: 150px;
    }

    .card-form {
        opacity: 0.8;
    }

    .fas {
        color: $color-light-blue;
        background: white;
        padding: 5px;
        border-radius: 5px;
    }
}

// EXPLORE, SHARE SECTION
#explore-section,
#share-section {
    .fas {
        background: $color-dark;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
}

#create-section {
    .fas {
        background: white;
        color: $color-light-blue;
        padding: 5px;
        border-radius: 5px;
    }
}
